{% extends "base.html" %}

{% block content %}
<section class="addpost"> 
  <div class="addpost__container form__container">
    <h1 class="ac__header form__header">Add Post</h1>
    <form class="form ac__form" action="" method="POST" enctype="multipart/form-data" >
        {{ form.hidden_tag() }}
        <fieldset >
            <p class="form__legend acf__legend">Add a post to share your knowledge</p>
            
            <div class="form-group">
                {{ form.title.label (class="form-control-label") }}
                {% if form.title.errors %}
                  {{ form.title (class="form-control") }}
                  <div class="invalid-feedback">
                      {% for error in form.title.errors %}
                      <span class="form-control-error">{{error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
              {{ form.title (class="form-control")  }}
              {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label (class="form-control-label") }}
                {% if form.content.errors %}
                  {{ form.content (class="form-control form-textarea form-control-error") }}
                  <div class="invalid-feedback">
                      {% for error in form.content.errors %}
                      <span class="form-control-error">{{error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
              {{ form.content (class="form-control form-textarea") }}
              {% endif %}
            </div>
            <div class="form-group">
                {{ form.image_file.label (class="form-control-label") }}
                {% if form.image_file.errors %}
                  {{ form.image_file (class="form-control") }}
                  <div class="invalid-feedback">
                      {% for error in form.image_file.errors %}
                      <span class="form-control-error">{{error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
              {{ form.image_file (class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.category.label (class="form-control-label") }}
              {{ form.category (class="form-control")  }}
              {% for error in form.category.errors %}
              <span class="form-control-error">[{{ error }}]</span>
              {% endfor %}
            </div>


          <div class="form-group">
              {{ form.submit (class="submit-btn btn btn--primary") }}
          </div>
        </fieldset>
      </form>
     </div>
    </section>
  </div>
</main>
{% endblock content %}
