{% extends "base.html" %}
{%block content %}
    <section class="post">
      <div class="post__container">
        <div class="p-top">
          <div class="author-img-cont">
            <img class="p__author-img" src="{{ url_for('static',filename='profile_pics/' +post.author.profile_image) }}" alt="{{ post.author.username }}">
          </div>
          <div class="p-top-detail">
            <p><a class="p__author" href="{{ url_for('users.user_posts', username = post.author.username)}}">{{ post.author.username}}</a></p>
            <p class="p__dateposted"> <span>{{ post.date_posted.strftime("%d %b, %Y") }} </span>
          </div>
        </div>

        <div class="pc__content">
          <h2 class="post__title"> {{ post.title }}</h2>
          {% if post.image_file %}
              <div class="post__image">
                  <img src="
                  {{url_for('static', filename='post_pictures/' + post.image_file )}}
                  " alt="Posted by {{current_user.username}}">
              </div>
          {% endif %}
            <div class="post__article">
              <p>
                {{ post.content }}
              </p>
            </div>
        </div>
                    
        <div class="pc__likes">
          {% if current_user.has_liked_post(post) %}
              <a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}" class="unlike-btn post-like"><img width="34" height="26" src="{{ url_for ('static', filename = 'website_images/heart.svg')}}" alt="Heart this"></a>
              <div class="post-likes">
                {% if current_user.has_liked_post(post) %}
                
                {% if post.likes.count() >= 2 %}
                <p> You and {{ post.likes.count() }} others loved this post </p>

                {% elif post.likes.count() > 1 %}
                <p> You and 1 other loved this post</p>
                
                {% elif post.likes.count() == 1  %}
                <p>You loved this post</p>
              

              
                {% endif%}
              {% endif%}
              
              </div>
          {% else %}
              <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }} " class="like-btn post-like"><img width="34" height="26" src="{{ url_for ('static', filename = 'website_images/heartoutline.svg')}}" alt="unheart this"></i></a>
          {% endif %}
        </div>
     <hr>
      {% if current_user.id == post.author.id %}
        <p class="pc__ops">
          <a  class="post__update" href="{{url_for('posts.updatepost', post_id=post.id)}}">Update</a>
          <a  class="post__delete" href="{{url_for('posts.deletepost', post_id=post.id)}}">Delete</a>
        </p>
      {% endif %}
      </div>
    </section>

{% endblock content %}
