{% extends "base.html" %}

{% block content %}
<section class="register">
  <div class="register__image">
    <img width="998" height="518" src="{{ url_for('static', filename = 'website_images/authentication.svg') }}" alt="Register page image">
  </div>
  <div class="register__container form__container">
    <h1 class="rc__header form__header">Register</h1>
    <form class="form rc__form" action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset >
            <p class="form__legend rcf__legend">Register with your valid details </p>
            
                <div class="form-group">
                  {{ form.email.label (class="form-control-label") }}
                  {% if form.email.errors %}
                      {{ form.email  (class="form-control", placeholder="johndoe@gmail.com")}}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                          <span class="form-control-error"  >{{error   }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                  {{ form.email (class="form-control", placeholder="johndoe@gmail.com") }} 
                  {% endif %}
              </div>
              
              <div class="form-group">
                {{ form.username.label (class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username  (class="form-control", placeholder="John Doe")}}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span class="form-control-error" class="form-control-error"  >{{error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.username (class="form-control", placeholder="John Doe") }} 
                {% endif %}
            </div>

              <div class="form-group ">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors%}
                  {{ form.password (class="form-control", placeholder="*********")}}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span class="form-control-error"  >{{error  }}</span>
                      {% endfor %}
                  </div>
              {% else %}
              {{ form.password (class="form-control", placeholder="*********")}}
              {% endif %}
       
              </div>

              <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors%}
                {{ form.confirm_password (class="form-control", placeholder="*********")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span class="form-control-error"  >{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.confirm_password (class="form-control", placeholder="*********")}}
                {% endif %}
                </div>

              <div class="form-group">
                {{ form.submit(class="submit-btn btn btn--primary") }}
              </div>
                  
              <div class="form-group">
                <p>Already have an account? <a href="{{ url_for ('users.login') }}"> Login Now</a></p>
              </div>
              

            </fieldset>
        </form>
     </div>
    </section>

{% endblock content %}
