{% extends "base.html" %}

{% block content %}
<section class="reset-token">
  <div class="rt__container form__container">
    <h1 class="rtc__header form__header">Update Password</h1>
    <form class="form rtc__form" action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset >
            <p class="form__legend rtcf__legend">Enter your new password</p>
            
              <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors%}
                  {{ form.password (class="form-control", placeholder="*********")}}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span class="form-control-error"  >{{error  }}</span>
                      {% endfor %}
                  </div>
              {% else %}
              {{ form.password (class="form-control", placeholder="*********")}}
              {% endif %}
              </div>
              <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors%}
                {{ form.confirm_password (class="form-control", placeholder="*********")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span class="form-control-error"  >{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.confirm_password (class="form-control", placeholder="*********")}}
                {% endif %}
                </div>
             
                 <div class="form-group">
                    {{ form.submit(class="submit-btn btn btn--primary") }}
                 </div>
             

            </fieldset>
        </form>
     </div>
    </section>

{% endblock body %}
