{% extends "base.html" %}
{% block content %}
<section class="reset-request">
  <div class="rr__container form__container">
    <h1 class="rrc__header form__header">Update Password</h1>
    <form class="form rrc__form" action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset >
            <p class="form__legend rrcf__legend">Enter your new password</p>
            
                <div class="form-group">
                  {{ form.email.label (class="form-control-label") }}
                  {% if form.email.errors %}
                      {{ form.email  (class="form-control", placeholder="johndoe@gmail.com")}}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                          <span class="form-control-error" style="color: red;">{{error   }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                  {{ form.email (class="form-control", placeholder="johndoe@gmail.com") }} 
                  {% endif %}
              </div>
              
                  <div class="form-group">
                    {{ form.submit(class="submit-btn btn btn--primary") }}
                  </div>
            </fieldset>
        </form>
     </div>
    </section>
{% endblock content %}
