@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
.root {
  font-size: 10px;
  line-height: normal;
  --primary-color: #2b44ff;
  --primary-color-dark: #2234b9;
  --main-bg-color: #f9f9f9;
  --smoked-purple : #444251 ;
  --lavender : #8D89A3 ;
  --violet-hush : #E4E3E5 ;
  --ghostly-gray : #CBCBCF;
  --main-text-color: #030514;
}

body,
.article {
  font-family: "Open sans", "sans-serif";
  font-size: 1rem;
  background-color: var(--main-bg-color);
}
h1,
.h1 {
  font-size: 4.7rem;
}
h2,
.h2 {
  font-size: 3.3rem;
}
h3,
.h3 {
  font-size: 2.6rem;
}
p,
.p {
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
}
a {
  /* text-decoration: none; */
  font-size: 1.6rem;
  /* color: var(--main-text-color); */
}
.container{
  margin:0 2rem;
}
article{
  font-size: 1.6rem;
}
/* 
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 90px;
  z-index: 11;
  background-color: rgba(15, 15, 15, 0.938);

}
nav{

  position: absolute;
  top: 100%;
  right: -400px;
  display: flex;
  width: 300px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.938);
  transition: right 650ms ease-out;
}
nav a{
  display: block;
  color: #fff;
  border-bottom: 0.41px solid rgba(255, 255, 255, 0.1);
  width: 250px;
  margin: 2rem 0;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
}
nav li{
  list-style: none;
}
.logo a, .nav-item a{
color: #fff;
}

.hamburger .line{
  display: block;
  height: 1.8px;
  width: 3rem;
  background-color: rgb(255, 255, 255);
  margin: 0.51rem 0;
}
.nav-toggle:checked ~ nav{
  right: 0px;
   transition: right 450ms ease;
}
.nav-toggle{
  display: none;
}
.nav-item a{
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 1rem;
  display: block;
  height: 90px;
  display: flex;
  align-items: center;
  transition: background-color 250ms ease;
  text-transform: uppercase;
}
.nav-item a:hover{
background-color: rgba(255, 255, 255, 0.342);

}
label .hamburger .line-3{
  transition: transform 550ms ease;
}
label .hamburger .line-2{
  transition: transform 600ms ease 1ms;
}
label .hamburger .line-1{
  transition: transform 420ms ease;
}
.nav-toggle:checked ~ label .hamburger .line-3{
  transform: rotate(90deg) translateY(8px);
}
.nav-toggle:checked ~ label .hamburger .line-2{
  transform: rotate(270deg) ;
}

.nav-toggle:checked ~ label .hamburger .line-1{
  transform: rotate(90deg) translateY(-8px);
}

@media only screen and (min-width: 600px)
{
  .nav-toggle-label{
    display: none;
  }
  nav{
  all: unset;
}
nav a{
  all: unset;
}
  nav ul{
    display: flex;
    flex-direction: row;
  }
  nav a{
    padding: 0 0.41rem;
    margin: 0 0.41rem;
    font-size: 1.2rem;
  }
}


/* ============================ 
    hero section 
===========================*/
/* 
.hero__section {
  width: 100%;
  height:100vh;
  background: url("https://res.cloudinary.com/dxsgu85ag/image/upload/v1595228613/flask_blog%20images/hero_bg_ekv8u5.png")
    no-repeat;
  background-position: bottom -20vh right 50%;
  background-size: 400px;
}
.hs__container {
  display: flex;
  height: 92vh;
  max-width: 590px;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hs__title {
  margin-top: -8rem;
}
.hs__items {
  margin-bottom: 3rem;
}
.hs__cta {
  text-align: center;
  width: 400px;
}

.cta__btns a {
  margin-bottom: 2.4rem;
}
@media only screen and (min-width: 600px) {
  .hero__section {
    width: 100%;
    background: url("https://res.cloudinary.com/dxsgu85ag/image/upload/v1595228613/flask_blog%20images/hero_bg_ekv8u5.png")
      no-repeat;
    background-position: top 50% left 70vw;
    background-size: 400px;
  }
  .hs__container {
    position: sticky;
    right: 50%;
    padding: 0 3rem;
    max-width: 540px;
    text-align: left;
  }
  .hs__cta {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    width: 100%;
  }
  .cta__btns {
    display: flex;
    text-align: center;
  }
  .cta__btns a {
    margin: 0 2rem 0 0;
  }
}
@media only screen and (min-width: 800px) {
  .hero__section {
    width: 100%;
    background: url("https://res.cloudinary.com/dxsgu85ag/image/upload/v1595228613/flask_blog%20images/hero_bg_ekv8u5.png")
      no-repeat;
    background-position: top 3vh left 50vw;
    background-size: 600px;
  }
} */
/* buttons */
/* .btn {
  display: inline-block;
  padding: 1.6rem 7rem;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  transition: box-shadow ease-in .4s;
}
.btn:hover {
  box-shadow: 0 4px 6px 0px #0000002d;
}
.btn--primary {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
  transition: background-color 250ms ease;
}
.btn--primary:hover {
  background-color: var(--primary-color-dark);
}
.btn--secondary {
  background-color: white;
  color: var(--main-text-color);
  border: 0.3px solid rgb(216, 216, 216);
  transition: background-color 250ms ease;
}

.btn--secondary:hover,
:focus {
  background-color: var(--main-bg-color);
} */

/* ============================ 
    login section 
===========================*/
/* 
.form__section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto ;
  height:100vh;
  background:linear-gradient(90deg, #36d1dc 0%,#5b86e5 100% );
}
.form__container{
  margin-top: 110px;
}
.form__header {
  font-size: 3.4rem;
  margin-bottom: 0.3rem;
  text-align: center;
  color: var(--primary-color);
}

.rs__header {
  font-size: 3rem;
}
.form__container{
  position: relative;
  background-color: white;
  padding: 15px 20px;
  height: 600px;
  width: 400px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}
fieldset {
  border: none;
}
.legend {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.rs__legend {
  margin: 3rem 0 2rem 0;
}

input[type="submit"] {
  border: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
.form-control-label {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}
.form-control {
  display: inline-block;
  height: 3.5rem;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  transition: border-bottom 250ms ease-in-out;
}
.form-control::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form-control:focus {
  outline: none;
  border: 0.41px solid #2b44ff9a;
  box-shadow: 0px 0px 5px 0px #2b44ff44;
}


.form-check-label {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}
.form-check {
  margin-bottom: 2rem;
}
.submit-btn {
  width: 100%;
  margin-bottom: 2rem;
}
.form-end {
  text-align: center;
  display: flex;
}
.form-end p {
  margin-right: 0.3rem;
}
.form-end a {
  color: var(--primary-color);
  transform: text-decoraction 240ms ease;
}
.form-end a:hover {
  text-decoration: underline;
}
 */


/*=============
 ADD POST FORMS 
 ============*/
/* 
.addpost__section{
  background-color: var(--main-bg-color)
} */

/* ============================ 
    default margin-top for
     form containers
===========================*/
.ap__container, .ls__container, .rs__container, .profile-container{
  margin: 100px auto 5px;
} 


/* ============================ 
    newsfeed section 
===========================*/
/* 
.newsfeed__container{
display: flex;
}
.sidebar{
  display: none;
  height: 100vh;
  width:300px;
  position: -webkit-sticky;
  position: sticky;
  top: 110px; 
  margin-bottom: 90px;
  }
.sidebar-container{
  height: 100%;
  padding: 0 2rem;
}
.search-input::placeholder{
color: rgb(73, 73, 73);
}
.search-input{
  background-color: var(--violet-hush);
}
.search-input:focus {
  outline: none;
  border: 0.41px solid #2b44ff9a;
  box-shadow: 0px 0px 5px 0px #2b44ff44;
}
.sidebar__li{
  margin-bottom: 2rem;
}


.posts__section{
  margin: 110px auto 80px;
}
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post__card {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 1.8rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  color: var(--main-text-color);
}
.pcard__header {
  margin: 0 0 1.4rem 0;
}
.ph__subheader {
  display: flex;
}
.ph__subheader p {
  font-size: 1.1rem;
  margin-right: 0.5rem;
} */

/* POST PAGE */
/* 
.post-container{
  display: flex;
}
.post-section{
  margin: 110px auto 80px;
}
.postsection-container{
  max-width: 800px;
}
.p__header {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}
.title {
  margin: 2rem 0 1rem 0;
}
.author_img {
  display: block;
  margin-right: 1rem;
}
.author_img img {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.p__header,
.p__header > * {
  margin-right: 0.9rem;
  font-size: 1.4rem;
}

.p__content {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.p__image {
  width: 100%;
  margin: 1rem 0;
}
.p__image img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  transition: transform ease-in-out 250ms;
}
.p__image img:hover {
  transform: scale(1.01);
}


/* ================
LIKE BUTTONS 
===================*/
.p__likes {
  margin-bottom: 0.3rem;
}
.p__likes i{
  font-size: 3rem;
  color: var(--primary-color);
}
.pcard__ops{
  margin-top: 2rem;
} 
/* ==============
flashed messages
================*/

.flashed-messages {
  position: absolute;
  bottom: 0vh;
  left: 0rem;
  right: 0rem;
  width: 100%;
  display: block;
  height: 10rem;
  z-index: 1111;
  text-align: center;
  -webkit-animation: hide-flashed-message 3s forwards;
  animation: hide-flashed-message 3s forwards;
}
@keyframes hide-flashed-message {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
   display: none;
    overflow: hidden;
  }
}
@-webkit-keyframes hide-flashed-message {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.flashes li {
  padding: 2rem 0;
  font-size: 1.9rem;
}
.success {
  background-color: rgba(45, 185, 45, 0.562);
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 7s;
}
.error {
  background-color: rgba(185, 45, 45, 0.562);
}
.info {
  background-color: rgba(45, 115, 185, 0.562);
}
.warning{
  background-color:  rgba(206, 196, 52, 0.562);
}



/* profile */
.profile-container{
  padding: 0 2rem;
}