* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT SIZES DECREASED BY 0.2REM ON MOBILE DEVICES */
/* check nav-item a */
html {
  --main-bg: #222831;
  --pri-text: #eeeeee;
  --sec-text: #53e3d2;
  --accent: #53e3d2;
  --accent-soft: #34a497;
  --neutral: #393e46;
  --danger: #fd3b3b;
  --info: #346dc2;
  --warning: #a89527;
  --success: #41a53e;
  background-color: var(--main-bg);
  font-size: 10px;
  font-family: "Open Sans";
  overflow-x: hidden;
}
.form-control-label,
.form-check-label {
  font-size: 1.2rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
article,
a {
  font-size: 1.6rem;
  /* line-height: 3.1rem; */
}
h3 {
  font-size: 1.9rem;
}
h2 {
  font-size: 2.6rem;
}
h1 {
  font-size: 4.8rem;
}
body {
  color: var(--pri-text);
  overflow-x: hidden;

}
body a {
  color: var(--pri-text);
}

.container {
  margin: 0 2rem;
}
textarea {
  resize: none;
}
@media only screen and (min-width: 1000px){
  p,
article,
a {
  font-size: 1.6rem;
  /* line-height: 3.1rem; */
}
h3 {
  font-size: 2.1rem;
}
h2 {
  font-size: 2.8rem;
}
h1 {
  font-size: 5.0rem;
}
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 8vh;
  background-color: var(--main-bg);
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.3);
  z-index: 111;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
  margin: 0;
  padding: 0 2rem;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  cursor: pointer;
}
nav {
  display: flex;
  position: absolute;
  top: 100%;
  right: -250px;
  background-color: var(--neutral);
  height: initial;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 92vh;
  transition: right 450ms ease-out;
}


.nav-toggle:checked ~ nav {
  right: 0px;
  transition: right 300ms ease;
}

label .hamburger .line-3 {
  transition: transform 350ms ease;
}
label .hamburger .line-2 {
  transition: transform 330ms ease;
}
label .hamburger .line-1 {
  transition: transform 450ms ease;
  opacity: 1;
}
.nav-toggle:checked ~ label .hamburger .line-3 {
  transform: translateY(-8px) rotate(135deg);
}
.nav-toggle:checked ~ label .hamburger .line-2 {
  transform: translateX(300px);
  opacity: 0;
}

.nav-toggle:checked ~ label .hamburger .line-1 {
  transform: translateY(8px) rotate(-135deg);
}

#nav-items {
  width: inherit;
}
.nav-item {
  text-transform: uppercase;
  margin: 1rem 0;
  padding: 2rem 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.1);
}
.nav-item a {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  padding: 0.2rem 1.7rem;
  border-radius: 0.7rem;
  background-color: var(--accent);
  margin-bottom: 0.4rem;
}
.hamburger {
  padding: 0.3rem;
}


/* ====== nav MEDIA QUERY ===== */


@media only screen and (min-width: 1000px){
  header{
    padding: 0 6rem;
  }
  .nav-toggle-label{
    display: none;
  }
  nav{
  all: unset;
  }
  #nav-items{
    all: unset;
  }
  .nav-item{
    background-color: unset;
    all: unset;
  }
  #nav-items{
    display: flex;
    align-items: center;
    
  }
  .nav-item{
    display: flex;
    margin-right: 1.9rem;
    padding: 0 0.6rem;
    height: 8vh;
    align-items: center;
    
  }
  .active{
    border-bottom: 1px solid var(--accent);
  }
/* container media query */
.container{
  margin: 0 6rem;
}
}
/* ======================= 
            HERO
======================= */

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 92vh;
}
.hc__image img {
  width: 381px;
}
.hc__content{
  max-width: 700px;
}
.hc__image,
.hcc__title,
.hcc__cta,
.hcc__desc {
  margin-bottom: 1.6rem;
}
.hcc__title {
  margin-top: 1rem;
}



/* ====== BTNS ===== */
.hcc-cta__btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hcc-cta__btns a {
  margin-bottom: 1.8rem;
}
.btn {
  display: flex;
  height: 4.3rem;
  align-items: center;
  justify-content: center;
  width: 18rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2.1rem;
}
.btn--primary {
  background-color: var(--accent);
  color: var(--main-bg);
  transition: background-color ease 250ms, color ease 250ms;
}
.btn--secondary {
  background-color: var(--neutral);
  transition: background-color ease 250ms, color ease 250ms;
}

.btn--primary:hover {
  background-color: var(--main-bg);
  border: 1px solid var(--accent);
  color: var(--pri-text);
  transition: background-color ease 250ms, color ease 250ms;
}

.btn--secondary:hover {
  background-color: var(--main-bg);
  border: 1px solid var(--accent);
  color: var(--pri-text);
  transition: background-color ease 250ms, color ease 250ms;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  font-weight: bold;
}


/* ====== HERO MEDIA QUERY ===== */


@media only screen and (min-width: 500px){
  .hcc-cta__btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hcc-cta__btns a {
    margin: 0 1rem;
  }
}
@media only screen and (min-width:1000px){
  .hero__container {
    height: 92vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
  }
  .hc__image{
    width: 60%;
    padding: 0 0 0 6rem ;
  }
  .hc__image img {
    width: 100%;
  }
  .hc__content{
    width: 40%;
    min-width:450px;
  }
  .hcc__title{
    margin-bottom: 2rem;
  }
  .hcc__desc{
    margin-bottom: 2rem;
  }
  .hcc-cta__btns{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .hcc-cta__btns a {
    margin-right: 1rem;
  }
}

/* ======================= 
           FORMS
======================= */
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  max-width: 500px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

fieldset {
  outline: none;
  border: none;
  width: 100%;
}
.form__legend {
  text-align: center;
  color: var(--sec-text);
  font-weight: bold;
  margin-bottom: 2rem;
}
.form-group, .form-check{
    margin-bottom: 2.1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input[type = submit]{
    width: 100%;
}
.form-control{
    display: inline-block;
    height: 5rem;
    padding: 0 2.3rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--neutral);
    color: var(--pri-text);
    transition: border 250ms ease;
}
.form-textarea{
  height: 100px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  padding:1rem 2.3rem;
}
.form-control:focus{
    outline: none;
    border: 0.8px solid var(--accent-soft);
}
.form-control-label{
    margin-bottom: 0.4rem;
    font-weight: bold;
    color: var(--sec-text);
}
.form-check{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.form-check-input{
    display: inline-block;
    margin-left: 1rem;
}
.form-group p,.form-group a{
    font-size: 1.2rem;
}
.form-group a{
    font-weight: bold;
    color: var(--sec-text);
}
.form-group a:hover{
    text-decoration: underline;
}
.form-group .form__delete{
  color: var(--danger);
}
.form-control-label, .form-check-label,.form-group p{
padding-left: 2.3rem;   
 }


 /* ======== FORM SELCT INPUT ======== */

 /* ======== FORM FILE INPUT ======== */

 /* ======================= 
            LOGIN
======================= */
.login {
  height: 92vh;
}
.login__image {
  display: none;
}
@media only screen and (min-width: 1000px){
  .login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
  }
  .login__image {
    flex: 1;
    display: block;
    
  }
  .login__image img{
    min-width: 500px;
    width: 100%;
  }
  .login__container{
    flex: 1.9;
  }
}

/* ======================= 
            REGISTER
======================= */
.register {
    height: 92vh;
  }
  .register__image {
    display: none;
  }
  @media only screen and (min-width: 1000px){
    .register{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      max-width: 1300px;
    }
    .register__image {
      flex: 1;
      display: block;
      
    }
    .register__image img{
      min-width: 500px;
      width: 100%;
    }
    .register__container{
      flex: 1.9;
    }
  }
  
/* ======================= 
            NEWSFEED
======================= */
.userposts_title{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.sidebar{
    display: none;
}
.newsfeed{
    margin: 2rem 0;
}
.posts{
  max-width: 600px;
  margin: 0 auto;
}
.posts__item{
    background-color: var(--neutral);
    margin-bottom: 2.6rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.p-top{
  display: flex;
  align-items: center;
}
.author-img-cont{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p__author-img{
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}
.p-top-detail{
  margin-left: 1rem;
}

/* 
.p__author{
  font-size: 1.6rem;
} */
.p__dateposted{
  font-size: 1.3rem;
}
.p-btm{
margin-top: 1rem;
}
.p__title{
  font-weight: bold;
}
.p__content{
  font-weight: 400;
  margin: 1rem 0;
  display: inline-block;
}
.p__readmore{
  font-size: 1.4rem;
  color: var(--sec-text);
}
/* ====== PAGINATION ===== */
.pagination{
  display: flex;
  justify-content: center;
}
.pagination-btn {
width: 40px;
height: 40px;
border-radius: 0px;
}



/* ======================= 
        POST PAGE
======================= */

.post__container{
  margin: 3rem auto;
  background-color: var(--neutral);
  border-radius: 2rem;
  padding: 2rem 1rem;
  max-width: 900px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}

.pc__content{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.post__title{
  text-transform: uppercase;
  font-weight: 400;
  /* margin-top: 1rem; */
}

.post__title, .post__image, .post__article, .pc__likes{
  margin: 1.0rem 0;
}
.post__title{
  color: var(--sec-text);
}
.post__image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
overflow: hidden;
}
.post__image img{
  height: 400px;
  object-fit: cover;
  width: 110%;
}

.post__article{
  line-height: 2.2rem;
}
.pc__likes{
  display: flex;
}
.post-like{
  margin-right: 1rem;
}
hr{
  margin: 1rem 0;
  opacity: 0.1;
}
.post__delete{
  color: var(--danger);
}
.post__update{
  margin-right: 1rem;
  color: var(--sec-text);
}


/* ======================= 
        ADDPOST 
======================= */
.addpost{
  height: 92vh;
}

/* ======================= 
        PROFILE PAGE
======================= */
.profile__container{
  margin: 2rem auto;
}

.pc__top{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
}
.pc__img{
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem 0;
  border: 1.3px solid var(--accent);
  transition: box-shadow 250ms ease;
 
}
.pc__img:hover{
  box-shadow: 0px 1px 20px var(--accent-soft);
}
.pc__img img{
  height: 11rem;
  width: 11rem;
  object-fit: cover;
}

.pc__username{
  color: var(--sec-text);
  font-weight: bold;
}
.profile-feed-title{
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
}

/* ======================= 
      FLASHES
======================= */
.flashed-messages{
  position: absolute;
  top: 8vh;
  width: 100%;
  left: 0;
  right: 0;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flashes{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.flashes li{
  width: 600px;
  height: 6vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.flashes .error{
  background-color: var(--danger);
}
.flashes .info{
  background-color: var(--info);
}
.flashes .success{
  background-color: var(--success);
}
.flashes .warning{
  background-color: var(--warning);
}
/* ======================= 
            RESET REQUEST
======================= */
.reset-request{
  height: 92vh;
}


/* ======================= 
            RESET TOKEN
======================= */
.reset-token{
  height: 92vh;
}

/* ======================= 
            SEARCH
======================= */
.search{
  height: 92vh;
}

